<div data-role="view" data-title="Login" data-layout="main" data-model="app.loginService">
  <h1>Login</h1>
    <lable for="username">username</lable>
    <input type='text' data-id="username" id ="username" />
    <br/>
    <lable for="password">password</lable>
    <input type='password' data-id="password" id ="password" />
    <br/>
    <button class="button" data-role='button' type='submit' data-bild="events : {click : onLogin}">Login</button>
    <button class="button" data-role='button' type='submit' data-bild="events : {click : onRegister}">Register</button>
</div>