<div data-role="view" data-title="Write Message" data-layout="main" data-model="app.viewmodels.writeMsg">
    <div class="box-col">
        <h4>Enter some content</h4>
        <textarea data-role="editor" data-tools="['bold',
                                   'italic',
                                   'underline',
                                   'justifyLeft',
                                   'justifyCenter',
                                   'justifyRight',
                                   'justifyFull',
                                   'fontSize',
                                   'foreColor',
                                   'backColor',
                                   'createTable']" 
                  data-bind="value: text" style="width: 90%; height: 40%;"></textarea>
    </div>
</div>